// screen breakpoints
$screen-tablet: 768px
$screen-laptop: 992px

// colors 
$color-background-dark: #0B0D17
$color-highlight-blue: #D0D6F9
$color-white: #FFFFFF

// typography
$heading-font: 'Bellefair', serif

    
    
.hidden-but-accessible
    clip: rect(1px, 1px, 1px, 1px)
    position: absolute
    height: 1px
    width: 1px
    padding: 0
    margin: 0


.heading-one 
  // font-size: 3.2em
  font-size: 9.375em
  line-height: 1.1
  font-family: $heading-font

.heading-two
  font-size: 6.25em
  font-family: $heading-font

.heading-three
  font-size: 3.5em
  font-family: $heading-font

.heading-four
  font-size: 2em
  font-family: $heading-font

.heading-five 
  font-size: 1.75em
  letter-spacing: 0.296875em

.subheading-one
  font-size: 1.75em

.subheading-two
  font-size: 0.875em
  letter-spacing: 0.146875em

.nav-text
  font-size: 1em
  letter-spacing: 0.16875em

.bold
  font-weight: 700
